// start .sServices
.sServices {

	&__row{
		--bs-gutter-x: #{rem(15)};
		--bs-gutter-y: #{rem(20)};
	}
	&__col{
		@media (min-width: 460px) {
			width: 50%;
		}
	}
	&__item{
		@include mt();
		padding: rem(25) rem(25) rem(20) rem(25);
		border-radius: rem(5);


		display: flex;
		min-height: 100%;
		flex-direction: column;

		position: relative;

		border: 2px solid $body-color;
		z-index: 1;
		&:hover{
			border: 2px solid $primary;
			z-index: 2;
			--bot-link-o: 1;
		}
	}
	&__title{
		color: $body-color;

		font-size: rem(25px);
		line-height: 1.1;
		font-weight: 900;
		margin-bottom: rem(20);
	}
	&__img{
		margin-top: auto;
		height: rem(202);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__btn-cont{
		@include mt();
		position: absolute;
		opacity: var(--bot-link-o, 0);

		left: 0;
		top: 100%;
		width: 100%;
		text-align: center;

		.ui-button{
			background: $primary!important;
			border-color: $primary!important;

			&:before,
			&:after{
				//background: $primary!important;
				box-shadow: 0 0 0 16px $primary!important;
			}
		}
	}
	&__{}
} // end.sServices