mixin sTime(data)
	// start sTime
	+b.SECTION.sTime.section#sTime&attributes(attributes)
		.container
			+b.section-title--pushed
				h2 Сроки ремонта под ключ:
			+e.row.row.justify-lg-content-end.align-items-center
				+e.amount-col.col-auto Выберите количество комнат в квартире: 1-комнатная
				.col-auto

	// end sTime