:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{$em-base};

	--sPT: #{rem(40)};
	--sPB: #{rem(50)};
	--sTPB: #{rem(35)};

	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;
}