// start .sCalc
.sCalc {
	--sTPB: #{rem(45)};

	&__main-row{
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(30)};
	}
	&__price-sm{
		color: $primary;
		font-size: rem(25);
		margin-bottom: rem(20);
	}
	&__calc-row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(10)};

		padding-bottom: rem(15);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(50);
		}
	}
	&__c-title{
		font-weight: 700;
		font-size: rem(21);
		@include media-breakpoint-up(lg){
			min-height: rem(50);
			margin-bottom: rem(25);
		}
		display: flex;
		align-items: center;

		text-transform: uppercase;
	}
	&__range-inp{

	}
	&__resut-row{
		color: $primary;
		font-size: rem(29);
		font-weight: 700;
	}
	&__r-key{

	}
	&__r-val{}
	//
	&__pills-row{
		--bs-gutter-y: #{rem(20)};
		--bs-gutter-x: #{rem(20)};

		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(48)};
		}
	}
	&__p-row{
		--bs-gutter-x: #{rem(16)};
	}
	&__p-icon{
		width: rem(33);
		height: rem(33);

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__p-txt{
		color: $body-color;
		font-size: rem(21);
		font-weight: 700;
	}
	&__img{
		width: 282px;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	&__{}
	&__{}
} // end.sCalc

