// start .sOther
.sOther {
	&__container{
		@include media-breakpoint-up(lg){
			max-width: 1040px!important;
		}
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};
		@include media-breakpoint-up(lg){
			--bs-gutter-x: #{rem(40)};
			--bs-gutter-y: #{rem(30)};
		}
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(54)};
			--bs-gutter-y: #{rem(37)};
		}
	}
	&__col{
		@media (min-width: 460px) {
			width: 50%;
		}
	}
	&__item{
		@include mt();
		display: flex;
		align-items: center;

		padding: rem(20) rem(16);
		@include media-breakpoint-up(sm){
			padding: rem(20);
		}
		@include media-breakpoint-up(lg){
			padding: rem(24);
		}

		border-radius: rem(5);
		background-color: $gray-300;
		--img-col: #{$primary};
		&:hover{
			background-color: $primary;
			--img-col: #{$white};
			color: $white;
		}
	}
	&__img{
		width: rem(40);
		height: rem(40);
		@include media-breakpoint-up(sm){
			width: rem(45);
			height: rem(45);
		}
		flex-shrink: 0;
		margin-right: rem(20);

		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			@include mt();
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;

			path,rect{
				fill: var(--img-col)!important;
			}
		}
	}
	&__txt{
		font-size: rem(21);
		@include media-breakpoint-up(lg){
			font-size: rem(25);
		}
	}
	&__{}
	&__{}
} // end.sOther