extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWalls/_sWalls.pug
include ../blocks/headerOld/_headerOld.pug
include ../blocks/sHeaderBlOld/_sHeaderBlOld.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sDiscont/_sDiscont.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sGalery/_sGalery.pug
include ../blocks/sFamiliar/_sFamiliar.pug
include ../blocks/sDismantling/_sDismantling.pug
include ../blocks/sPriceTabs/_sPriceTabs.pug
include ../blocks/sInstall/_sInstall.pug
include ../blocks/sTechnology/_sTechnology.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sType/_sType.pug
include ../blocks/sOther/_sOther.pug
include ../blocks/sTime/_sTime.pug
include ../blocks/sConsistance/_sConsistance.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= '25'
	title= title
block pagecontent
	+oldMobMenu()
	+HeaderOld()
	+sServices()
	+sType()
	+sOther()
	//-missing!!
	//-+sTime()
	+sConsistance()
	//+sInstall()
	//+sTechnology()
	//+sCalc()
	+footerOld()