extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWalls/_sWalls.pug
include ../blocks/headerOld/_headerOld.pug
include ../blocks/sHeaderBlOld/_sHeaderBlOld.pug
include ../blocks/sPrice/_sPrice.pug
include ../blocks/sDiscont/_sDiscont.pug
include ../blocks/sProjects/_sProjects.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sGalery/_sGalery.pug
include ../blocks/sFamiliar/_sFamiliar.pug
include ../blocks/sDismantling/_sDismantling.pug
include ../blocks/sPriceTabs/_sPriceTabs.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= '20'
	title= title
block pagecontent
	+oldMobMenu()
	+HeaderOld()
	+sDismantling()
	+sPriceTabs()
	+footerOld()