mixin sDiscont(data)
	// start sDiscont
	+b.SECTION.sDiscont.section#sDiscont&attributes(attributes)
		.container
			+b.section-title--pushed
				h2 Выберите свою скидку:
			.tabs
				.tabs__caption
					+e.caption-row.row
						+sDiscountTabsBtn(1, 'Скидка новоселам', 'col-lg-4' ,'active')
						+sDiscountTabsBtn(2, 'Скидка семьям', 'col-lg-4 text-center ')
						+sDiscountTabsBtn(3, 'Скидка пенсионерам', 'col-lg-4 text-end')
				.tabs__wrap
					.tabs__content.active
						+e.row.row
							+sDiscountPlate('АКЦИЯ ДЛЯ НОВОСЁЛОВ', '5%')
								p Вы только что получили ключи от своей новенькой квартиры в новостройке?
								p Вы хотите красивый ремонт, но не знаете как его воплотить в жизнь?
								p Эта скидка тогда для Вас! Мы поможем принять квартиру у застройщика, профессиональный дизайнер сделает Ваше жильё уютным, а наши мастера воплотят это в жизнь.
							+sDiscountPlate('СКИДКА ДЛЯ молодых СЕМЕЙ', '7%')
								p Мы рады будем обустроить уют в Вашем жилище, что бы каждый Ваш малыш чувствовал себя там комфортно.
								p Оптимальное решение со скидкой на все работы и на материалы.
							+sDiscountPlate('СКИДКА ДЛЯ ПЕНСИОНЕРОВ', '6%')
								p Скидка предоставляется при предоставлении подтверждающих документов.
								p Скидка является одноразовой и не может использоваться при повторных обращениях за ремонтно-отделочными работами.
					.tabs__content 2
					.tabs__content 3
	// end sDiscont

mixin sDiscountPlate(titleTxt, discountTxt)
	.col-lg-4
		+e.item
			+e.title=titleTxt
			+e.txt-content
				block
			+e.discount=discountTxt
			+e.btn-cont
				a.ui-button.sDiscont__btn(class="--corner --corner-top --black ui-price-download__button" href="#")
					span Оставить заявку

mixin sDiscountTabsBtn(imgNum, txt, bootClasses, addClasses)
	+e.col(class=bootClasses)
		+e.tabs-btn.tabs__btn(class=addClasses)
			+e.icon
				img(loading="lazy" src=`img/@2x/sDetails-${imgNum}-w.png` alt="")
				img(loading="lazy" src=`img/@2x/sDetails-${imgNum}-o.png` alt="")
			+e.tb-txt=txt