// start .sDiscont
.sDiscont {
	@include media-breakpoint-up(xl){
		--sTPB: #{rem(46)};
	}

	.section-title{
		h2{
			color: $primary;
		}
	}
	.tabs{
		&__caption{
			border-radius: rem(5);
			background-color: $gray-300;
			margin-bottom: rem(25);

			padding: rem(10);
			@include media-breakpoint-up(lg){
				padding: 2px 0;
			}
		}
		&__wrap{

		}
	}
	&__caption-row{
		--bs-gutter-y: 5px;
		@include roww(0);
	}
	&__col{
		position: relative;
		z-index: 1;

		&:last-child{
			&:before,
			&:after{
				content: none;
			}
		}

		&:before,
		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			background-color: $primary;
			right: 0;
			top: 50%;
			transform: translateX(50%) translateY(-50%);
		}

		&:before{
			width: rem(13);
			height: rem(13);
			border-radius: 50%;
		}
		&:after{
			width: rem(130);
			height: 1px;
		}
	}
	//
	&__tabs-btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		padding: rem(10) rem(20);
		border-radius: $btn-border-radius;

		min-width: rem(270);

		&.active{
			background-color: $primary;
			color: $white;
			--img1-o: 1;
			--img2-o: 0;
			&:after{
				opacity: 1;
			}
		}

		position: relative;
		&:after{
			opacity: 0;
			@include mt();
			content: '';
			position: absolute;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 17px 8px 0 8px;
			border-color: $primary transparent transparent transparent;

			left: (100/270) * 100%;
			top: calc(100% - 1px);

		}
	}
	&__icon{
		width: 32px;
		height: 32px;
		margin-right: rem(26);

		position: relative;
		z-index: 1;
		img{
			@include mt();
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			width: auto;
			height: auto;

			max-width: 100%;
			max-height: 100%;
		}
		img:first-child{
			opacity: var(--img1-o,0);
		}
		img:last-child{
			opacity: var(--img2-o,1);
		}
	}
	//
	&__row{

	}
	&__item{
		position: relative;
		z-index: 1;

		padding: rem(22) rem(18);
		@include media-breakpoint-up(xl){
			padding: rem(24) rem(35) rem(32) rem(24);
		}

		border-radius: rem(5);
		border: 2px solid $body-color;
		&:hover{
			border: 2px solid $primary;
		}

	}
	&__title{
		font-size: rem(33);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: rem(45);
	}
	&__txt-content{
		font-size: rem(21);
	}
	&__discount{
		font-size: rem(104);
		line-height: 1;
	}
	&__btn-cont{
		position: absolute;
		top: calc(100% - 0px);
		left: 0;
		width: 100%;
		text-align: center;
	}
	&__btn{

	}
	&__{}
} // end.sDiscont