// start .sPrice
.sPrice {
	&__table{
		thead{
			color: $body-color;
			font-size: rem(23);
			font-weight: 700;
		}

		padding-bottom: rem(47);
	}

	&__price-box{
		text-align: center;
		border-radius: rem(5);
		background-color: $body-color;
		color: $white;

		font-size: rem(25);
		font-weight: 300;
		text-transform: uppercase;

		max-width: rem(612);
		padding: rem(10px) rem(15);
		@include media-breakpoint-up(md){
			padding: rem(15px) rem(25);
		}

		margin: 0 auto;
	}

	&__btn{
		margin: 0 auto;
	}
	&__{}
	&__{}
	&__{}
} // end.sPrice