mixin sConsistance(data)
	// start sConsistance
	+b.SECTION.sConsistance.section#sConsistance&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Состав работ премиум-ремонта:
			+e.row.row
				+sConsistanceItem(1,'Разработка дизайн-проекта')
				+sConsistanceItem(2,'Перепланировка помещений')
				+sConsistanceItem(3,'Электромонтажные работы')
				+sConsistanceItem(4,'Сантехнические работы')
				//-
				+sConsistanceItem(5,'Замена систем отопления')
				+sConsistanceItem(6,'Вентиляция и кондиционирование')
				+sConsistanceItem(7,'Штукатурка и  шпатлевка')
				+sConsistanceItem(8,'Плиточные работы')
				//-
				+sConsistanceItem(9,'Отделка стен')
				+sConsistanceItem(10,'Монтаж потолков и света')
				+sConsistanceItem(11,'Система "теплый пол"')
				+sConsistanceItem(12,'Система "умный дом"')
				//
				+sConsistanceItem(13,'Подбор мебели и аксессуаров')
				+sConsistanceItem(14,'Уборка клининговой компанией')
	// end sConsistance

mixin sConsistanceItem(imgNum, txt)
	.col-6.col-md-4.col-lg-3
		+e.item
			+e.icon
				img.img-svg-js(loading="lazy" src=`img/svg/sConsistance-${imgNum}.svg` alt="")
			+e.txt=txt