mixin sTechnology(data)
	// start sTechnology
	+b.SECTION.sTechnology.section#sTechnology&attributes(attributes)
		.container
			+b.section-title--pushed
				h2 Технология выполнения работ:
			+e.items
				+sTechnologyItem(1)
					h4 Современный и надежный способ коммутации
					p  Соединение кабеля выполняется гильзой при помощи пресс-клещей с гидравлическим приводом.
					p В результате опрессовки получается неразъёмное, максимально прочное  контактное соединение, изолированное термоусадочной трубкой.
					p Такой контакт не нуждается в обслуживании.
					p Коммутация выполняется в подрозетнике и вы всегда сможете добавить дополнительные розетки.
				+sTechnologyItem(2)
					h4 Защита от поражения электрическим током
					p Для предотвращения поражения электрическим током при повреждении изоляции или замыкании.
					p Высокочувствительное УЗО (устройство защитного отключения) и Дифференциальный автомат при аварийной ситуации обесточат нужную электрическую группу.
					p Во влажных помещениях, санузлах, подвале, кухне и бытовых помещениях устанавливается ШДУП (шина дополнительного уравнивания потенциалов) Как дополнительная защита от пробивания током.
				+sTechnologyItem(3)
					h4 Безопасность детей и распределение нагрузки
					p Наш инженер учитывает мощность всех потребителей и выполняет грамотный расчет корректной нагрузки на каждую группу.
					p Максимальная разгруппировка на автоматические выключатели дает возможность независимого управления каждой группой розеток и освещения.
					p У Вас будет возможность в любой момент отключить розетки в нужных комнатах, что бы не переживать за маленьких детей.
				+sTechnologyItem(4)
					h4 Заземление
					p Способ заземления подбирается в зависимости от типа грунта
					p В большинстве случаев мы используем сертифицированную, модульную, омедненную конструкцию с заглублением штырей не менее шести метров.
					p Такое заземление не ржавеет и не требует обслуживания.
					p Гарантия от производителя 50 лет!
	// end sTechnology

mixin sTechnologyItem(imgNum)
	+e.item
		+e.row.row
			.col-md-6
				+e.baner
					img(loading="lazy" src=`img/@2x/sTechnology-${imgNum}.png` alt="")
			.col-md-6
				+e.txt-box
					if block
						block
					else
						h4 Современный и надежный способ коммутации
						p  Соединение кабеля выполняется гильзой при помощи пресс-клещей с гидравлическим приводом.
						p В результате опрессовки получается неразъёмное, максимально прочное  контактное соединение, изолированное термоусадочной трубкой.
						p Такой контакт не нуждается в обслуживании.
						p Коммутация выполняется в подрозетнике и вы всегда сможете добавить дополнительные розетки.